{
    "presets": [["env", { "modules": false }]],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        ["transform-runtime", { "regenerator": true }]
    ],
    "env": {
        "test": {
            "presets": [["env", { "targets": { "node": "current" } }]]
        }
    }
}
