@import "../common/common";
@import "../common/sprites";
$gray-color = #333

.events-content{
    font-size:.7rem;
    max-width:20rem;
    margin:0 auto;
    background:#FFF;
}



#btn{
    border-radius:.3rem
    border:1px solid #DDD;
    background:#EBEBEB;
    padding:.5rem .8rem;
}

.avatar{
    width:10rem;
    height:10rem;
}