@import "../common/common";
$gray-color = #555

.index-content{
    font-size:.7rem;
    color:#333;
    padding:1rem 3rem;
}

#btn{
    border-radius:.3rem
    border:1px solid #DDD;
    background:#EBEBEB;
    padding:.5rem .8rem;
}

.avatar{
    background:url('/asset/image/anonymous.jpg') no-repeat 0 0;
    width:10rem;
    height:10rem;
}