{
    "env": {
        "mocha": true
    },
    "globals": {
        "sinon": true,
        "expect": true
    },
    "rules": {
        "no-plusplus":"off",
        "import/no-unresolved":"off"
    }
}
